<div class="site-nav-header">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}

  {%- if page_paths -%}
    {%- for path in page_paths -%}

      {%- if path contains "pages/" -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
          {% if page.path == path %}
            <a class="page-link current" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {% else %}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {%- endif -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
</div>
