<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>

  <body>
    <div class="main-padding">
    <div class="wrapper">
      <header>
        {% include header-panel.html %}
      </header>
      
      <section class="main-column">
        <div class = "column-content">
          {{ content }}
        </div>
      </section>

      {% include footer.html %}
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </div>
  </body>
</html>
